torch==2.3.1
torchvision==0.18.1
torch-cluster -f https://data.pyg.org/whl/torch-2.3.1+cu121.html
tensorboard
numpy==1.26.1
rootutils
hydra-core
rootutils
hydra-core
Pillow
opencv-python-headless==4.10.0.84
huggingface_hub
tensorboard
fvcore
wcmatch
einops
safetensors
iopath
rootutils
smplx
tqdm
dotmap
PyYAML
transforms3d==0.3.1
omegaconf
loguru
pyarrow
fastparquet
requests
pandas
fsspec>=2022.11.0
gputil==1.4.0
webdataset
diffusers
transformers
pymeshlab
wcmatch
smplx
trimesh
pyrender
yacs
webdataset
fvcore
git+https://github.com/mattloper/chumpy.git#egg=chumpy
git+https://github.com/facebookresearch/pytorch3d.git@stable
git+https://github.com/MPI-IS/configer.git
git+https://github.com/MPI-IS/mesh.git
